/* Globala CSS-variabler för teman */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --background-color: #ffffff;
  --primary-text-color: #213547;
  --secondary-text-color: #646cff;
  --button-background: #eee;
  --button-text: #213547;
  --button-border: transparent;
  --button-hover-background: #aaa;
  --button-hover-border: #646cff;
  --wrong-color: #fa8077;
  --right-color: #61ac64;
  transition: background-color 0.3s ease, color 0.3s ease;
}

body.dark-theme {
  --background-color: #242424;
  --primary-text-color: #ffffff;
  --secondary-text-color: rgba(255, 255, 255, 0.87);
  --button-background: #1a1a1a;
  --button-text: #ffffff;
  --button-hover-background: #646cff;
  --button-hover-border: #535bf2;
  --wrong-color: #f44336;
  --right-color: #4caf50;
  transition: background-color 0.3s ease, color 0.3s ease;
}

body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: var(--background-color);
  color: var(--primary-text-color);
  min-width: 320px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

#root {
  max-width: 1280px;
  text-align: center;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 5rem);
  margin-top: 2rem;
}

header {
  position: absolute;

  transform: translateY(-50%);
  left: 50%;
}

main {
  flex: 1;
}

.quiz {
  color: var(--button-hover-border);
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: (50%);
  margin: 10px;
}

footer {
  margin-top: auto;
  position: absolute;
  font-size: 0.9rem;
  color: var(--secondary-text-color);
  transform: translatex(50%);
  left: calc(50% - 90px);
  bottom: 1%;
}

/* Temaväxlarens stil */
.theme-switch {
  position: absolute;
  transform: translateY(-50%);
  top: 2rem;
  left: 10rem;
  padding: 0.1rem;
  font-size: 1.5rem;
  background-color: var(--button-background);
  color: var(--button-text);
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease, border 0.3s ease;
}

.theme-switch:hover {
  background-color: var(--button-hover-background);
}

@media (max-width: 570px) {
  .theme-switch {
    left: 7rem;
  }
}
